body {
		background-color: gray;
		color: black;
		text-align: center;
		
}

div {
		border: 5px;
		border-style: solid;
		border-radius: 15px;
		border-color:  aquamarine;
		align-content: center;
		margin: 10px;
		background-color:  white;
		padding: 10px;
		direction: flex;
}